HOST=''
PORT=
USERNAME=""
PASSWORD=""

AWS_REGION_NAME=FVDFGJG
AWS_ENDPOINT_URL=dhtfds
AWS_ACCESS_KEY=yfjnv
AWS_SECRET_KEY=fgghfncf
AWS_PUBLIC_URL=dfvggbfgh
AWS_BUCKET_NAME=gxrgfd

AMQP_HOST=''
AMQP_PORT=123
AMQP_VIRTUAL_HOST=''
AMQP_USERNAME=''
AMQP_PASSWORD=''
